outputs/*
__pycache__
*.pyc
SBB/environments/poker/ACPC/dealer
SBB/environments/poker/ACPC/all_in_expectation
SBB/environments/poker/ACPC/bm_run_matches
SBB/environments/poker/ACPC/example_player
SBB/environments/poker/ACPC/outputs
tools/r_scripts/*.gif